
<!--   <% if @woman.invalid? %>
  <div class="alert alert-danger">
    <% @woman.errors.full_messages.each do |message| %>
      <%= message%>
    <%end %>

  </div>
  <%end %>  -->



<%= form_with model: @woman, local: true do |form| %>

  <div class="card border-success mb-6" style="max-width: 40%;margin-left: 30%">
    <div class="card-header bg-transparent border-success text-center" style="border-color :#fec5d9">Soyez créatif</div>
    <div class="card-body text-success">
  <p>
    <%= form.label :name, "prenom : " %>
    <%= form.text_field :name %>

  </p>
  <p>
    <%= form.label :surname, "nom de famille : " %>
    <%= form.text_field :surname %>

  </p>
  <p>
    <%= form.label :age, "age : " %>
    <%= form.number_field :age %>
  </p>

  <p>
    <%= form.label :NumberPhone, "Numéro de portable : " %>
    <%= form.telephone_field :NumberPhone %>
  </p>

  <p>
    <%= form.label :color_eyes, "couleur des yeux : " %>
    <%= form.select :color_eyes, ["bleus", "marrons", "noirs", "verts"] %>
  </p>

  <p>
    <%= form.label :color_hair, "couleur des cheveux :" %>
    <%= form.select :color_hair, ["rousse", "blonde", "chataigne", "brune"] %>
  </p>

  <p>
    <%= form.label :description, "petite description : " %>
    <%= form.text_area :description, size: "50x2" %>
  </p>



      <div class="card-footer bg-transparent border-success text-center">
         <%= form.submit "publier l'annonce" %>
      </div>

<%end %>
</div>
</div>
