
<div class="card border-success mb-6" style="max-width: 40%;margin-left: 30%">
  <div class="card-header bg-transparent border-success text-center" style="border-color :#fec5d9">Trouver la Femme de vos rêves</div>
  <div class="card-body text-success">
    <%= form_with model: @woman , url: search_path, method: :get do |form|%>

      <p>
        <%= form.label :color_eyes, "couleur des yeux : " %>
        <%= form.select :color_eyes, ["toutes", "bleus", "marrons", "noirs", "verts"] %>
      </p>

      <p>
        <%= form.label :color_hair, "couleur des cheveux :" %>
        <%= form.select :color_hair, ["toutes", "rousse", "blonde", "chataigne", "brune"] %>
      </p>


      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="<%= image_path("20.jpeg") %>" class="card-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">20 à 30ans</h5>
              <div class="text text-center">
                <%= form.radio_button :age, 20 %>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="<%= image_path("30.jpeg") %>" class="card-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">30 à 40 ans</h5>
              <div class="text text-center">
              <%= form.radio_button :age, 30 %>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="<%= image_path("40.jpeg") %>" class="card-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">40 à 50 ans</h5>
              <div class="text text-center">
                <%= form.radio_button :age, 40 %>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="<%= image_path("50.jpeg") %>" class="card-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">50 à 60 ans</h5>
              <div class="text text-center">
                <%= form.radio_button :age, 50 %>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="card-footer bg-transparent border-success text-center">
    <%= form.submit "Rechercher" %>
  </div>
</div>
    <%end %>










