<% @women.each do |woman| %>
  <div class="card text-dark bg-info mb-3" style="max-width: 40%;margin-left: 30%">
    <div class="card-header text-center"><h3><b><%= woman.name+" "+woman.surname%></b></h3></div>
    <div class="card-body">
      <h4 class="card-title"><%= woman.age.to_s+" ans : "+woman.color_hair+" aux yeux "+woman.color_eyes%></h4>
      <h5>Contact : <%= woman.NumberPhone %></h5>
      <p class="card-text"><%= woman.description %></p>
    </div>
  </div>
<% end %>