<!DOCTYPE html>
<html>
  <head>
    <title>LaBonneFemme</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #fec5d9;">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <button type="button" class="btn btn-link color-99206B">
          <a class="py-2" href="<%= root_path %>" style><h3>LaBonneFemme</h3></a>
        </button>
        <a class="py-2 d-none d-md-inline-block" href="<%= new_woman_path %>">Déposer une annonce</a>
        <a class="py-2 d-none d-md-inline-block" href="<%= women_path %>">parcourir les annonces</a>
      </div>
    </nav>
  <br><br>
    <%= yield %>
  </body>
</html>
